# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# opennextjs
.open-next

# wrangler
.wrangler

repo_summary.txt

deployment.md

.repomix-output.txt
repomix-output.txt

.cursorrules

.dev.vars

.repomixignore

delete-cache.js

related_files.txt

translation_service_progress.md

run_cron_test.sh
# clerk configuration (can include secrets)
/.clerk/

scripts/